:root {
  --bg-col-ls : #0a0a24;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.split-container {
  display: flex;
  height: 100vh;
}

.ls {
  width: 50vw;
  background-color: var(--bg-col-ls);

}

.rs {
  background-color: red;
  width: 50vw;
}

textarea{
  height: 90%;
  width: 100%;
  background-color: var(--bg-col-ls);
  color: aliceblue;

}

button{
  
}