@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-col-ls : 	#2b3137;
  --bg-col-rs : #24292e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
}


.split-container {
  display: flex;
  height: 100vh;
}

.split-container>div {
  overflow: auto;
  padding: 0;
}

.ls {
  width: 50vw;
  background-color: var(--bg-col-ls);
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.rs {
  background-color: var(--bg-col-rs);
  width: 50vw;
}

.canvas-container{
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
  background-color: var(--bg-col-rs);

}

.rs canvas {
    width: 100%;
  height: 100%;
  max-width: fit-content;
  max-height: fit-content;
  min-width: 50%;
  min-height: 50%;
 display: block;
  margin: auto;
  background-color: var(--bg-col-rs);
}

textarea{
  height: 90%;
  width: 100%;
  background-color: var(--bg-col-ls);
  color: aliceblue;
font-family: "Cascadia Code", sans-serif;
padding: 1rem;
}

button{
  padding: 0.5rem;
  background-color:  green;
  color: white;
  border-radius: 12px;
  border: 0;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  margin-right: 1rem;
  margin-top: .4rem;
  transition: all ease-in-out 300ms;
}

button:hover{
  background-color: white;
  color: green;
}

.gutter {
  background-color: transparent;
  cursor: col-resize;
}

.table-legend{
  height: 10%;
  width: 10%;
  position: relative;
  top: -95%;
  right: 0;
  left: 72%;
  font-family: "Roboto", sans-serif;
}

tr, th {
  background-color: aliceblue;
  padding: .2rem;
  border: none;
  margin: 0;
}